body {
    background-color: #f8f9fa;
}
.customImg{
    transform: translateX(-100px);
}
.customWidth{
    width: 40%;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dee2e6;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
}